In [13]:
import init
import os

In [14]:
from Class import URL
from const import TRAINING_FOR_JOB_HUNTER

- 'A‘ : 개설예정
- ‘B‘ : 진행중
- ‘C‘ : 미실시
- ‘D‘ : 수료자 없음
- 숫자 : 취업률

In [15]:
url = URL()

params = {
    'authKey':os.getenv('HRD_API_KEY'),
    'returnType':'XML',
    'outType':'2',
    'srchTrprId':'AIG20210000346620',
}

url.set_parameter(params)
url.set_url(TRAINING_FOR_JOB_HUNTER['schedule_info'])

In [16]:
from controller.training_schedule import get_traininig_schedule_info, get_training_schedule_info_list
get_traininig_schedule_info(url,'AIG20210000346620')

,3개월_고용보험_취업률(pct),3개월_고용보험_취업인원,6개월_고용보험_취업률(pct),6개월_고용보험_취업인원,6개월_고용보험_미가입_취업률(pct),6개월_고용보험_미가입_취업인원,훈련기관 코드,모집인원(정원),수강인원,총_훈련비,훈련_시작일,훈련_종료일,훈련과정_회차,훈련과정ID
0,D,None,B,None,0.0,0,6208136408000,34,0,722400,None,None,0,AIG20210000346620
1,B,None,B,None,0.0,0,6208136408000,34,5,722400,2022-02-10,2022-03-25,1,AIG20210000346620
2,B,None,B,None,0.0,0,6208136408000,34,0,722400,2022-03-28,2022-05-09,2,AIG20210000346620
3,B,None,B,None,0.0,0,6208136408000,34,0,722400,2022-05-10,2022-06-22,3,AIG20210000346620
4,A,None,A,None,0.0,0,6208136408000,34,0,722400,2022-06-23,2022-08-03,4,AIG20210000346620
5,A,None,A,None,0.0,0,6208136408000,34,0,722400,2022-08-04,2022-09-17,5,AIG20210000346620
6,A,None,A,None,0.0,0,6208136408000,34,0,722400,2022-09-14,2022-10-27,6,AIG20210000346620
7,A,None,A,None,0.0,0,6208136408000,34,0,722400,2022-10-21,2022-12-02,7,AIG20210000346620
8,A,None,A,None,0.0,0,6208136408000,34,0,722400,2022-11-25,2023-01-06,8,AIG20210000346620
9,A,None,A,None,0.0,0,6208136408000,34,0,722400,2022-12-30,2023-02-13,9,AIG20210000346620

In [17]:
import pandas as pd

get_training_schedule_info_list(url,pd.DataFrame({
    '훈련과정ID':['AVA20223000828644','AVA20223000828648','AVA20223000830860'],
    '훈련과정_순차':[None,'7','21']
}))

,3개월_고용보험_취업률(pct),3개월_고용보험_취업인원,6개월_고용보험_취업률(pct),6개월_고용보험_취업인원,6개월_고용보험_미가입_취업률(pct),6개월_고용보험_미가입_취업인원,훈련기관 코드,모집인원(정원),수강인원,총_훈련비,훈련_시작일,훈련_종료일,훈련과정_회차,훈련과정ID
0,D,None,B,None,0.0,0,2003035159800,500,0,0,None,None,0,AVA20223000828644
1,B,None,B,None,0.0,0,2003035159800,500,0,0,2022-04-29,2022-05-26,1,AVA20223000828644
2,B,None,B,None,0.0,0,2003035159800,500,0,0,2022-05-13,2022-06-09,2,AVA20223000828644
3,A,None,A,None,0.0,0,2003035159800,500,0,0,2022-05-27,2022-06-23,3,AVA20223000828644
0,A,None,A,None,0.0,0,2003035159800,500,0,0,2022-07-22,2022-08-18,7,AVA20223000828648
0,A,None,A,None,0.0,0,2003014385101,500,0,0,2022-09-30,2022-10-27,21,AVA20223000830860