In [1]:
import init
import os
import pandas as pd

In [2]:
from Class import URL
from const import TRAINING_FOR_JOB_HUNTER

In [3]:
import datetime

today = datetime.datetime.now()

file_name = ''.join(['구직자훈련과정',today.year,today.month,today.day])
df = pd.read_csv(''.join(['../files/for_job_hunter/',file_name,'.csv'])).sort_values(by=['훈련시작일자'])

In [4]:
df.columns

Index(['주소', '컨텐츠', '수강비', '등급', '훈련기관 코드', 'NCS 코드', '실제 훈련비', '수강신청 인원',
       '정원', '제목', '부제목', '주관부처', '전화번호', '훈련시작일자', '훈련종료일자', '훈련대상', '훈련구분',
       '훈련기관ID', '훈련과정ID', '훈련과정 순차'],
      dtype='object')

In [5]:
df_tr = df[['훈련과정ID','훈련과정 순차']]
df_tr

                  훈련과정ID  훈련과정 순차
99883  AMF20183000520023        1
99938  AMF20183000524441        1
99939  AMF20183000524437        1
99940  AMF20183000524432        1
99941  AMF20183000524180        1
...                  ...      ...
4      AIG20210000362125        2
3      AIG20210000334333        1
2      AIG20210000354067        2
1      AIG20210000346620        9
0      AIG20210000337552        1

[171185 rows x 2 columns]

In [6]:
df_tr[df_tr['훈련과정ID'].duplicated(keep=False)].sort_values(by=['훈련과정ID','훈련과정 순차'])

                   훈련과정ID  훈련과정 순차
107201  AAJ20183000538805        1
107200  AAJ20183000538805        2
109056  AAJ20183000542055        1
116358  AAJ20183000542055        2
107758  AAJ20183000542476        1
...                   ...      ...
758     AVA20223000830861       17
635     AVA20223000830861       18
529     AVA20223000830861       19
399     AVA20223000830861       20
290     AVA20223000830861       21

[142571 rows x 2 columns]

In [7]:
df_tr.sort_values(by=['훈련과정ID','훈련과정 순차']).drop_duplicates(subset=['훈련과정ID'],keep='last')

                   훈련과정ID  훈련과정 순차
114652  AAC20183000526210        0
105540  AAC20183000527000        0
104990  AAC20183000527028        0
107650  AAC20183000529291        0
105541  AAC20183000529705        0
...                   ...      ...
8621    AVA20223000828644        3
214     AVA20223000828645       14
2530    AVA20223000828648        7
291     AVA20223000830860       21
290     AVA20223000830861       21

[55646 rows x 2 columns]

In [8]:
target = df_tr.sort_values(by=['훈련과정ID','훈련과정 순차']).drop_duplicates(subset=['훈련과정ID'],keep='last')

In [9]:
target

                   훈련과정ID  훈련과정 순차
114652  AAC20183000526210        0
105540  AAC20183000527000        0
104990  AAC20183000527028        0
107650  AAC20183000529291        0
105541  AAC20183000529705        0
109779  AAC20183000529880        0
121868  AAC20183000529907        0
104581  AAC20183000530099        0
104582  AAC20183000530136        0
104122  AAC20183000530274        0

In [10]:
from controller.agency_info_controller import get_training_inst_info_list

In [11]:
url = URL()
url.set_url(TRAINING_FOR_JOB_HUNTER['agency_info'])

opt = {
        'authKey':os.getenv('HRD_API_KEY'),
        'returnType':'XML', # only XML availab
        'outType':'2',
        'srchTrprId':None,
        'srchTrprDegr':None,
        'srchTorgId':'default',
}


opt['srchTorgId'] = 'default'
url.set_parameter(opt)

get_training_inst_info_list(url,tl_df=target,save=True)
####
opt['srchTorgId'] = 'facility_detail'
url.set_parameter(opt)

get_training_inst_info_list(url,tl_df=target,save=True)
####
opt['srchTorgId'] = 'eqnm_detail'
url.set_parameter(opt)

get_training_inst_info_list(url,tl_df=target,save=True)

            훈련기관_코드      등록훈련기관           장비명 보유 수량
0     1998205975900  한라조리직업전문학교         2구 화덕    20
1     1998205975900  한라조리직업전문학교         2구 화덕    22
2     1998205975900  한라조리직업전문학교         화이트보드     1
3     1998205975900  한라조리직업전문학교           세척대    16
4     1998205975900  한라조리직업전문학교           계량컵    26
...             ...         ...           ...   ...
2156  6169073648000  국제조리직업전문학원       103호 목란     5
2157  6169073648000  국제조리직업전문학원     103호 파이롤러     8
2158  6169073648000  국제조리직업전문학원           떡기계     1
2159  6169073648000  국제조리직업전문학원      103호 싱크대     1
2160  6169073648000  국제조리직업전문학원  103호 가스레인지버너     5

[2161 rows x 4 columns]

In [13]:
# sample

opt['srchTrprId'] = 'AAC20183000529291'
opt['srchTrprDegr'] = '0'
opt['srchTorgId'] = 'default'

url.set_parameter(opt)
get_training_inst_info_list(url)

,주소지,상세주소,파일경로,홈페이지_주소,훈련기관명,훈련기관_코드,실제_훈련비,NCS코드,NCS명,NCS여부,...,주요_훈련과정_구분명,총_훈련시간,총_훈련일수,우편번호,훈련분야명,훈련종류,훈련일수,훈련시간,수강료,훈련과정코드
0,경상북도 예천군 새움3로 52 (호명면 JM골드스퀘어),6층,http://www.hrd.go.kr/comm/com/fileDownload.do?...,bes,경북이‧미용직업전문학원,2006054610000,0,12010101,헤어미용,None,...,None,126,21,36849,지역실업자훈련,C0053,21,126,None,AAC20183000529291