In [1]:
import init

import os

from Class import URL
from const import COMMON_CODE_URL
from controller.common_code_controller import get_all_common_code

In [2]:
opt = {
    'authKey':os.getenv('HRD_API_KEY'),
    'returnType':'XML',
    'srchType':'None',
    'outType':'1'
}

In [3]:
url = URL()

url.set_url(COMMON_CODE_URL)
url.set_parameter(opt)

In [4]:
get_all_common_code(url)

       코드값    코드명           구분
0       11     서울  훈련지역 대분류 코드
1       26     부산  훈련지역 대분류 코드
2       27     대구  훈련지역 대분류 코드
3       28     인천  훈련지역 대분류 코드
4       29     광주  훈련지역 대분류 코드
..     ...    ...          ...
274  49130  서귀포시      훈련지역 중분류
275  49710  북제주군      훈련지역 중분류
276  49720  남제주군      훈련지역 중분류
277  50110    제주시     훈련지역 중분류
278  50130   서귀포시     훈련지역 중분류

[2417 rows x 3 columns]