In [1]:
import init

import os
import pandas as pd

from Class import URL
from const import COMMON_CODE_URL
from common_code_controller import get_all_common_code,get_common_code,get_common_code_region_middle

In [2]:
opt = {
    'authKey':os.getenv('HRD_API_KEY'),
    'returnType':'XML',
    'srchType':'None',
    'outType':'1'
}

In [3]:
url = URL()

url.set_url(COMMON_CODE_URL)
url.set_parameter(opt)

get_all_common_code(url)

       코드값    코드명           구분
0       11     서울  훈련지역 대분류 코드
1       26     부산  훈련지역 대분류 코드
2       27     대구  훈련지역 대분류 코드
3       28     인천  훈련지역 대분류 코드
4       29     광주  훈련지역 대분류 코드
..     ...    ...          ...
274  49130  서귀포시      훈련지역 중분류
275  49710  북제주군      훈련지역 중분류
276  49720  남제주군      훈련지역 중분류
277  50110    제주시     훈련지역 중분류
278  50130   서귀포시     훈련지역 중분류

[2417 rows x 3 columns]

# srchType


00 : 훈련지역 대분류 코드<br/>
01 : 훈련지역 중분류 코드<br/>
02 : KECO 대분류 코드<br/>
03 : KECO 중분류 코드<br/>
04 : KECO 소분류 코드<br/>
05 : NCS 대분류 코드<br/>
06 : NCS 중분류 코드<br/>
07 : NCS 소분류 코드<br/>
08 : NCS 세분류 코드<br/>
09 : 훈련종류 코드<br/>
10 : 훈련방법 코드<br/>
11 : 훈련기관 구분코드<br/>


# srchOption1

01 : 훈련지역 중분류 코드<br/>
03 : KECO 중분류 코드<br/>
04 : KECO 소분류 코드<br/>
06 : NCS 중분류 코드<br/>
07 : NCS 소분류 코드<br/>
08 : NCS 세분류 코드<br/><br/>

※사용예시)공통코드구분을 01(훈련지역 중분류)로 지정하고, 검색값에 11(서울) 입력시 서울의 훈련지역 중분류 코드들을 출력합니다.


# srchOption2

지원하는 공통코드 구분<br/>
04 : KECO 소분류 코드 [ 1자리 ex)1 ]<br/>
07 : NCS 소분류 코드 [ 2자리 ex)01 ]<br/>
08 : NCS 세분류 코드 [ 2,4자리 ex)01, 0101 ]<br/><br/>

※srchOption1이 있어야 사용 가능합니다.

In [4]:
# 대분류는 상위 분류가 없으므로 제외

template = {
    'authKey':os.getenv('HRD_API_KEY'),
    'returnType':'XML',
    'outType':'1',
    'srchType':None,
    'srchOption1':None,
    'srchOption2':None
}
url = URL()
url.set_url(COMMON_CODE_URL)

In [102]:
# 훈련지역 중분류
params = template.copy()

params['srchType'] = '01'
params['srchOption1'] = '11'
params['srchOption2'] = None

url.set_parameter(params)

get_common_code(url).head(2)

     코드값  코드명
0  11110  종로구
1  11140   중구

In [21]:
# KECO 중분류
params['srchType'] = '03'
params['srchOption1'] = '01'
params['srchOption2'] = None

url.set_parameter(params)

get_common_code(url).head(2)

   코드값                   코드명
0  011  의회의원·고위공무원 및 기업 고위임원
1  012      행정·경영·금융·보험 관리자

In [121]:
# KECO 소분류
params['srchType'] = '04'
params['srchOption1'] = '01'
params['srchOption2'] = '5'

url.set_parameter(params)

get_common_code(url)

    코드값                코드명
0  0151          영업·판매 관리자
1  0152             운송 관리자
2  0159  기타 판매 및 고객서비스 관리자

In [124]:
# NCS 중분류
params['srchType'] = '06'
params['srchOption1'] = '02'
params['srchOption2'] = None

url.set_parameter(params)

get_common_code(url)

    코드값      코드명
0  0201     기획사무
1  0202    총무·인사
2  0203    재무·회계
3  0204  생산·품질관리

In [126]:
# NCS 소분류
params['srchType'] = '07'
params['srchOption1'] = '02'
params['srchOption2'] = '01'

url.set_parameter(params)

get_common_code(url)

      코드값    코드명
0  020101   경영기획
1  020102  홍보·광고
2  020103    마케팅

In [130]:
# NCS 세분류
params['srchType'] = '08'
params['srchOption1'] = '02'
params['srchOption2'] = '01' # or 0101

url.set_parameter(params)

get_common_code(url)

        코드값      코드명
0  02010101     경영기획
1  02010102     경영평가
2  02010201       PR
3  02010202       광고
4  02010301  마케팅전략기획
5  02010302     고객관리
6  02010303     통계조사